@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #5E807F;
    overflow-y: hidden;
    overflow-x: hidden;
}


#profile-img{
    width: 180px;
    height: 180px;
    border-radius: 100px;
}

.container{
    display: flex;
    flex-flow: column wrap;
    height: 1350px;
    width: 600px;
    background-color: #C4C4C4;
    margin-left: auto;
    margin-right: auto;
    flex: 40%;
    border-left: 25px solid #406564;
    border-right: 25px solid #406564;
    align-items: center;
    padding: 0px 40px 35px 40px;
}

.form-signin{
    width: 400px;
    text-align: center;
    justify-content: center;
}

.btn{
    font-size: 30px;
    background-color: #406564;
    padding: 10px 85px 10px 85px;
    border-radius: 50px;
    border: none;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.mensagem_erro{
    background-color: #406564;
    border-radius: 25px;
    padding: 7px;

}
.escrita_popup{
    color: white;
    text-decoration: none;
}
.btn:hover{
    background-color: white;
    border: none;
    color: #406564;
    cursor: pointer;
}

.cadastro{
    text-align: center;
    margin-top: 20px;
}

#sombra3{
    color: #406564;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
}

#sombra3:hover{
    color: white;
    background-color: #406564;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
}

#inputEmail{
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border: none;
    color: #406564;
    padding: 5px;
    width: 400px;
}

#inputPassword{
    text-align: center;
    color: #406564;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    padding: 5px;
    width: 400px;
}

h3{
    font-size: 30px;
    color: #406564;
}


/* 
@media screen and (max-width: 1024px){
    body{
        background-color: #C4C4C4;
        overflow-y:scroll ;
        overflow-x:scroll ;
    }
    .container{
        background-color: #C4C4C4;
        border-left: 0px solid #C4C4C4;
        border-right: 0px solid #C4C4C4;

    }
}

 */
